<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thinkjoy.ams.dao.mapper.AmsApppermissionMapper">
    <resultMap id="BaseResultMap" type="com.thinkjoy.ams.dao.model.AmsApppermission">
        <id column="permission_id" jdbcType="INTEGER" property="permissionId"/>
        <result column="system_id" jdbcType="INTEGER" property="systemId"/>
        <result column="pid" jdbcType="INTEGER" property="pid"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="type" jdbcType="TINYINT" property="type"/>
        <result column="permission_value" jdbcType="VARCHAR" property="permissionValue"/>
        <result column="uri" jdbcType="VARCHAR" property="uri"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="ctime" jdbcType="BIGINT" property="ctime"/>
        <result column="orders" jdbcType="BIGINT" property="orders"/>
        <result column="applicable_identity" jdbcType="VARCHAR" property="applicableIdentity"/>
        <result column="is_approval" jdbcType="BIT" property="isApproval"/>
        <result column="approval_uri" jdbcType="VARCHAR" property="approvalUri"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    permission_id, system_id, pid, name, type, permission_value, uri, icon, status, ctime, 
    orders,applicable_identity,is_approval,approval_uri
  </sql>
    <select id="selectByExample" parameterType="com.thinkjoy.ams.dao.model.AmsApppermissionExample"
            resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from ams_apppermission
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ams_apppermission
        where permission_id = #{permissionId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ams_apppermission
    where permission_id = #{permissionId,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="com.thinkjoy.ams.dao.model.AmsApppermissionExample">
        delete from ams_apppermission
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.thinkjoy.ams.dao.model.AmsApppermission">
    insert into ams_apppermission (permission_id, system_id, pid, 
      name, type, permission_value, 
      uri, icon, status, 
      ctime, orders,applicable_identity,is_approval,approval_uri)
    values (#{permissionId,jdbcType=INTEGER}, #{systemId,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT}, #{permissionValue,jdbcType=VARCHAR}, 
      #{uri,jdbcType=VARCHAR}, #{icon,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, 
      #{ctime,jdbcType=BIGINT}, #{orders,jdbcType=BIGINT},#{applicableIdentity,jdbcType=VARCHAR},#{isApproval,jdbcType=BIT},#{approvalUri,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.thinkjoy.ams.dao.model.AmsApppermission">
        insert into ams_apppermission
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="permissionId != null">
                permission_id,
            </if>
            <if test="systemId != null">
                system_id,
            </if>
            <if test="pid != null">
                pid,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="permissionValue != null">
                permission_value,
            </if>
            <if test="uri != null">
                uri,
            </if>
            <if test="icon != null">
                icon,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="ctime != null">
                ctime,
            </if>
            <if test="orders != null">
                orders,
            </if>
            <if test="applicableIdentity != null">
                applicable_identity,
            </if>
            <if test="isApproval != null">
                is_approval,
            </if>
            <if test="approvalUri != null">
                approval_uri,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="permissionId != null">
                #{permissionId,jdbcType=INTEGER},
            </if>
            <if test="systemId != null">
                #{systemId,jdbcType=INTEGER},
            </if>
            <if test="pid != null">
                #{pid,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=TINYINT},
            </if>
            <if test="permissionValue != null">
                #{permissionValue,jdbcType=VARCHAR},
            </if>
            <if test="uri != null">
                #{uri,jdbcType=VARCHAR},
            </if>
            <if test="icon != null">
                #{icon,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="ctime != null">
                #{ctime,jdbcType=BIGINT},
            </if>
            <if test="orders != null">
                #{orders,jdbcType=BIGINT},
            </if>
            <if test="applicableIdentity != null">
                #{applicableIdentity,jdbcType=VARCHAR},
            </if>
            <if test="isApproval != null">
                #{isApproval,jdbcType=BIT},
            </if>
            <if test="approvalUri != null">
                #{approvalUri,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.thinkjoy.ams.dao.model.AmsApppermissionExample"
            resultType="java.lang.Long">
        select count(*) from ams_apppermission
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update ams_apppermission
        <set>
            <if test="record.permissionId != null">
                permission_id = #{record.permissionId,jdbcType=INTEGER},
            </if>
            <if test="record.systemId != null">
                system_id = #{record.systemId,jdbcType=INTEGER},
            </if>
            <if test="record.pid != null">
                pid = #{record.pid,jdbcType=INTEGER},
            </if>
            <if test="record.name != null">
                name = #{record.name,jdbcType=VARCHAR},
            </if>
            <if test="record.type != null">
                type = #{record.type,jdbcType=TINYINT},
            </if>
            <if test="record.permissionValue != null">
                permission_value = #{record.permissionValue,jdbcType=VARCHAR},
            </if>
            <if test="record.uri != null">
                uri = #{record.uri,jdbcType=VARCHAR},
            </if>
            <if test="record.icon != null">
                icon = #{record.icon,jdbcType=VARCHAR},
            </if>
            <if test="record.status != null">
                status = #{record.status,jdbcType=TINYINT},
            </if>
            <if test="record.ctime != null">
                ctime = #{record.ctime,jdbcType=BIGINT},
            </if>
            <if test="record.orders != null">
                orders = #{record.orders,jdbcType=BIGINT},
            </if>
            <if test="record.applicableIdentity != null">
                applicable_identity=#{record.applicableIdentity,jdbcType=VARCHAR},
            </if>
            <if test="record.isApproval != null">
                is_approval=#{record.isApproval,jdbcType=BIT},
            </if>
            <if test="record.approvalUri != null">
                approval_uri=#{record.approvalUri,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update ams_apppermission
        set permission_id = #{record.permissionId,jdbcType=INTEGER},
        system_id = #{record.systemId,jdbcType=INTEGER},
        pid = #{record.pid,jdbcType=INTEGER},
        name = #{record.name,jdbcType=VARCHAR},
        type = #{record.type,jdbcType=TINYINT},
        permission_value = #{record.permissionValue,jdbcType=VARCHAR},
        uri = #{record.uri,jdbcType=VARCHAR},
        icon = #{record.icon,jdbcType=VARCHAR},
        status = #{record.status,jdbcType=TINYINT},
        ctime = #{record.ctime,jdbcType=BIGINT},
        orders = #{record.orders,jdbcType=BIGINT},
        applicable_identity=#{record.applicableIdentity,jdbcType=VARCHAR},
        is_approval=#{record.isApproval,jdbcType=BIT},
        approval_uri=#{record.approvalUri,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.thinkjoy.ams.dao.model.AmsApppermission">
        update ams_apppermission
        <set>
            <if test="systemId != null">
                system_id = #{systemId,jdbcType=INTEGER},
            </if>
            <if test="pid != null">
                pid = #{pid,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=TINYINT},
            </if>
            <if test="permissionValue != null">
                permission_value = #{permissionValue,jdbcType=VARCHAR},
            </if>
            <if test="uri != null">
                uri = #{uri,jdbcType=VARCHAR},
            </if>
            <if test="icon != null">
                icon = #{icon,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="ctime != null">
                ctime = #{ctime,jdbcType=BIGINT},
            </if>
            <if test="orders != null">
                orders = #{orders,jdbcType=BIGINT},
            </if>
            <if test="applicableIdentity != null">
                applicable_identity=#{applicableIdentity,jdbcType=VARCHAR},
            </if>
            <if test="isApproval != null">
                is_approval=#{isApproval,jdbcType=BIT},
            </if>
            <if test="approvalUri != null">
                approval_uri=#{approvalUri,jdbcType=VARCHAR},
            </if>
        </set>
        where permission_id = #{permissionId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.thinkjoy.ams.dao.model.AmsApppermission">
    update ams_apppermission
    set system_id = #{systemId,jdbcType=INTEGER},
      pid = #{pid,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=TINYINT},
      permission_value = #{permissionValue,jdbcType=VARCHAR},
      uri = #{uri,jdbcType=VARCHAR},
      icon = #{icon,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      ctime = #{ctime,jdbcType=BIGINT},
      orders = #{orders,jdbcType=BIGINT},
      applicable_identity=#{applicableIdentity,jdbcType=VARCHAR},
      is_approval=#{isApproval,jdbcType=BIT},
      approval_uri=#{approvalUri,jdbcType=VARCHAR}
    where permission_id = #{permissionId,jdbcType=INTEGER}
  </update>

    <delete id="deleteById" parameterType="java.lang.String">
    DELETE ams_apppermission,ams_approle_permission
    FROM ams_apppermission

    LEFT JOIN ams_approle_permission ON ams_apppermission.permission_id = ams_approle_permission.permission_id

    WHERE ams_apppermission.permission_id = #{id}
  </delete>

    <select id="getAppPermissionByRelationCodeAndUserType" parameterType="map"
            resultMap="BaseResultMap">
      SELECT DISTINCT aa.* FROM ams_approle aar
        LEFT JOIN ams_approle_permission aap ON aar.approle_id = aap.approle_id
        LEFT JOIN ams_apppermission aa ON aap.permission_id = aa.permission_id
      WHERE aar.relation_code = #{relationCode}
          AND aar.usertype_id =#{userType}
          AND aar.status=1
          AND aa.status=1
          AND aa.type!=0

  </select>

    <select id="getAppPermissionsByApproleId" parameterType="java.util.Set" resultMap="BaseResultMap">
        SELECT aa.* from ams_approle_permission aua
        left JOIN ams_apppermission aa ON aua.permission_id = aa.permission_id
       <where>
           aua.approle_id in

               <foreach close=")" collection="set" item="listItem" open="("
                        separator=",">
                   #{listItem}
               </foreach>

           AND aa.status= '1'
       </where>
        order by  orders
    </select>

    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>
</mapper>