<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thinkjoy.ams.dao.mapper.AmsPerprojectAppMapper">
  <resultMap id="BaseResultMap" type="com.thinkjoy.ams.dao.model.AmsPerprojectApp">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <id column="usertype_id" jdbcType="INTEGER" property="usertypeId" />
    <id column="relation_code" jdbcType="VARCHAR" property="relationCode" />
    <id column="app_id" jdbcType="INTEGER" property="appId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    user_id, usertype_id, relation_code, app_id
  </sql>
  <select id="selectByExample" parameterType="com.thinkjoy.ams.dao.model.AmsPerprojectAppExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ams_perproject_app
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from ams_perproject_app
    where user_id = #{userId,jdbcType=INTEGER}
      and usertype_id = #{usertypeId,jdbcType=INTEGER}
      and relation_code = #{relationCode,jdbcType=VARCHAR}
      and app_id = #{appId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.thinkjoy.ams.dao.model.AmsPerprojectAppExample">
    delete from ams_perproject_app
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.thinkjoy.ams.dao.model.AmsPerprojectApp">
    insert into ams_perproject_app (user_id, usertype_id, relation_code, 
      app_id)
    values (#{userId,jdbcType=INTEGER}, #{usertypeId,jdbcType=INTEGER}, #{relationCode,jdbcType=VARCHAR}, 
      #{appId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.thinkjoy.ams.dao.model.AmsPerprojectApp">
    insert into ams_perproject_app
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="usertypeId != null">
        usertype_id,
      </if>
      <if test="relationCode != null">
        relation_code,
      </if>
      <if test="appId != null">
        app_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="usertypeId != null">
        #{usertypeId,jdbcType=INTEGER},
      </if>
      <if test="relationCode != null">
        #{relationCode,jdbcType=VARCHAR},
      </if>
      <if test="appId != null">
        #{appId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.thinkjoy.ams.dao.model.AmsPerprojectAppExample" resultType="java.lang.Long">
    select count(*) from ams_perproject_app
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ams_perproject_app
    <set>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.usertypeId != null">
        usertype_id = #{record.usertypeId,jdbcType=INTEGER},
      </if>
      <if test="record.relationCode != null">
        relation_code = #{record.relationCode,jdbcType=VARCHAR},
      </if>
      <if test="record.appId != null">
        app_id = #{record.appId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ams_perproject_app
    set user_id = #{record.userId,jdbcType=INTEGER},
      usertype_id = #{record.usertypeId,jdbcType=INTEGER},
      relation_code = #{record.relationCode,jdbcType=VARCHAR},
      app_id = #{record.appId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />

  <update id="updatePersonal" parameterType="java.util.Map">
    UPDATE ucenter_user_identity
    set personalization = #{personalization,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=INTEGER}
      and usertype_id = #{usertypeId,jdbcType=INTEGER}
      and relation_code = #{relationCode,jdbcType=VARCHAR}
  </update>
</mapper>