body, html {height: 100%; position: relative; font-family: 'Microsoft yahei'; font-size: 13px; font-weight: 400;}
img {vertical-align: middle;}
a, a:hover, a:active, a:focus {text-decoration: none; -webkit-user-drag: none; outline: none; color: #000;}
a i{font-size: 13px;}

#main{padding: 10px 20px;}

/* 数据表格 */
body{font-size: 12px;}
.table i{font-size: 12px; color: #000;}
.bootstrap-table .table>thead>tr>th{border-bottom: none;}
.bootstrap-table .table:not(.table-condensed), .bootstrap-table .table:not(.table-condensed)>tbody>tr>td, .bootstrap-table .table:not(.table-condensed)>tbody>tr>th, .bootstrap-table .table:not(.table-condensed)>tfoot>tr>td, .bootstrap-table .table:not(.table-condensed)>tfoot>tr>th, .bootstrap-table .table:not(.table-condensed)>thead>tr>td{padding: 12px 8px;}
/* 分页 */
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus{background: #f5f5f5; color: #000; border-color: #7d7d7d;}
.pagination>li>a, .pagination>li>span{color: #000;}.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus{background-color: #999;}
/* bootstrap */
.jconfirm .jconfirm-box .jconfirm-buttons button{-webkit-border-radius: 0; border-radius: 0;}
.btn:active{-webkit-box-shadow: none; box-shadow: none;}
/* input */
body .jconfirm{z-index: 999;}
.jconfirm-content form{margin-top: 10px;}
.crudDialog{padding: 0 0 2px;}
.dialog-buttons a{font-weight: bold;}
.form-group{margin-bottom: 20px;}
.form-group label{position: absolute; line-height: 2; font-size: 16px; font-weight: normal; transition: all .2s; pointer-events: none; color: #999;}
.form-group .active{transform: translateY(-65%); font-size: 12px; color: #337ab7;}
.form-group .form-control{font-size: 14px; box-shadow: none; padding-left: 0; padding-right: 0; border-radius: 0; border: none; border-bottom: 2px solid #eee; outline: none; transition: all .5s;}
.form-group .form-control:focus{box-shadow: none; border-color: #337ab7;}



.search-form {
    overflow: hidden;
}

.search-form .search-group {
    padding: 10px;
    display: inline-block;
    vertical-align: middle;
}

.search-form .search-group .form-control {
    height:30px;
}
.search-form .search-group label {
    font-weight:normal;
}
.search-form .search-group .btn {
    height:30px;
    line-height:30px;
    padding: 0 10px;
}
/* 图片上传 */
.bg {position: relative;}
.bg input[readonly] {background:none !important;}
.bg input[name=banner],
.bg input[name=avatar]{display:none;}
.bg .path{display: none;width: 50px;height: 50px !important;position: absolute;left: 0;top: -19px;z-index: 9999;}
#picker {position: absolute;right: 0;top: -5px;}